nav.navigation {
  height: 200px;
  line-height: 200px;
  border: 2px solid;
  background-color: var(--brand);
  text-align: center;
  margin-bottom: 70px;
}

nav.navigation a {
  color: var(--brand-text);
  font-size: 2em;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 20px;
  border-bottom-width: 0;
  border-bottom-style: solid;
  transition: border-bottom-width 300ms; 
}

nav.navigation a:hover {
  border-bottom-width: 3px
}



